doctype html
html
  head
    meta(charset='UTF-8')
    title Capitals Quizz
    link(rel='stylesheet', href='../stylesheets/game.css')
    //- link(rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  body
    #home
      #holderofHolder
        .input-group
          .form-control
            input(type='text', name='user', placeholder='Choose a username' id='userName')
        #holderOfStart
          .start Start
    #game
      h6(style='display:block;')
      #score.gamedivs
        #passHolder
          #pass.buttonScore Pass
        #time.buttonScore Pass
      #connectedPlayers.gamedivs
        table.table#scoreBoard
          thead
            tr
              th
                | Joueur
              th
                | Score actuel
              th
                | Meilleur Score
          tbody
            //- tr
            //-   td
            //-     | toto
            //-   td
            //-     | 12
            //-   td
            //-     | 200
      #header.gamedivs
        .theCountry
        img(alt='country')
      #pholder.gamedivs
        #ppholder
      #buttholder.gamedivs
        #butttholder
    #end
      .results
        #register
        hr
        .input-group
          .form-control
            input(type='text', name='login', placeholder='Choose a username' id='registerName' required)
            br
          .form-control
            input(type='mail', name='mail', placeholder='your email address' id='mail' required)
          .form-control
            input(type='password', name='pass_initial', placeholder='Choose a password' id='pass_initial' required)
          .form-control
            input(type='password', name='pass_check', placeholder='Repeat your password for verification' id='pass_check' required)
          .form-control
            input(type='button', name='send', placeholder='Save my score' id='send' value='send')
        
        #fautes.hidd
      // end of wrong
      br
      // start of right
      .results
        #correct
        // end of right
        #accuracy
      #startagain Start Again
    script(src='../javascripts/jquery.min.js')
    script(src='../javascripts/game.js')
    script(src='/socket.io/socket.io.js')
