<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <thead id="scoreBoard">
        <tr>
          <th>
            Joueur
          </th>
          <th>
            Score actuel
          </th>
          <th>
            Meilleur Score
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            toto
          </td>
          <td>
            12
          </td>
          <td>
            200
          </td>
        </tr>

      </tbody>
    </table>



    <input type="button" name="name" value="" id="bouton">
    <script type="text/javascript" src="../node_modules/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      (function(window,io){
        var socket = io('http://0.0.0.0:3000/');
        console.log(socket);
        var monBouton = document.getElementById('bouton');
        monBouton.addEventListener('click', function(){
          socket.emit('connection');
        })



      })();

    </script>
  </body>
</html>
